
.card{
    @include xl{
        .apexcharts-legend{
            position: absolute;
            left: 45%;
            right: 24px;
        }
    }
}

.apexcharts {
    &-legend {
        justify-content: center !important;
        gap: 15px !important;
        right: 8% !important;
    //     @media (min-width: 1440px) and (max-width: 1700px) {
    //         right: 40px !important;
    //     }
    //    @include lg{
    //     right: 30px !important;
    //    }
        &-marker {
            margin-right: 6px !important;
            width: 14px !important;
            height: 14px !important;
            border-radius: 14px !important;
        }
        &--text {
            font-family: $font-1 !important;
            color: $white !important;
        }
    }
}

.card {
    &-content {
        @include xxl {
            gap: 30px;
            padding: 46px;
        }
        &-text {
            @include xxl {
                .title {
                    margin-bottom: 8px;
                    font-size: 13px;
                }
                .des {
                    font-size: 22px;
                }
            }
            @include xxl {
                .text-body {
                    column-gap: 16PX;
                }
            }
            @include lg {}
        }
    }
}