.apexcharts-legend {
    justify-content: center !important;
    gap: 15px !important;
    right: 80px !important;
}
.card{
    &-content{
        @include lg{
            img{
                top: 0;
            }
        }
        @include xxl{
            gap: 30px;
            padding: 46px;
        }
        &-text{
            @include xxl{
                .title{
                    margin-bottom: 8px;
                    font-size: 13px;
                }
                .des{
                    font-size: 22px;
                }
            }
            @include xxl{
            .text-body{
             
                column-gap: 16PX;
            }
            }
            @include lg{
                
            }
        }
    }
}