.dashboard {
    --left: 250px;
    &-left {
        width: var(--left);
        flex: 0 0 auto;
        background-color: #0A0C14;
    }
    &-right {
        width: calc(100% - var(--left));
        background-color: #03060D;
        flex: 0 0 auto;
    }
    &-main {
        max-height: calc(100vh - 88px);
        @include custom-scroll(6px);
    }
    &-menu {
        & .active {
            background: linear-gradient(292.05deg, #00FFFF -34.93%, #0152FF 84.08%);
            color: $white;
        }
    }
}