.table {
    & table {
        border-collapse: separate !important;
        border-spacing: 0px 5px !important;
        @include md {
            border-spacing: 0px 10px !important;
        }
        & thead {
            & tr:not(:first-child) {
                display: none;
            }
            & th {
                border-radius: 0 !important;
            }
        }
        & tr {
            & td {
                border: 1px solid rgba(37, 41, 50, 0.20);
                &:not(:first-child) {
                    border-left: 0;
                }
                &:not(:last-child) {
                    border-right: none;
                }
            }
        }
    }
}

@include xxl {
    .dashboard-main {
        padding: 20px;
    }
}

.dex {
    @include xxl {
        .imtitem {
            gap: 12px;
        }
        .title {
            font-size: 13px;
        }
        .des {
            font-size: 19px;
            margin-top: 19px;
        }
    }
    @include sm {
        .des {
            font-size: 16px;
        }
    }
    @include md {
        .des {
            margin-top: 18px;
        }
    }
    @include lg {
        .des {
            margin-top: 18px;
            font-size: 24px;
        }
    }
    @include ssm {
        .title {
            margin-top: 3px;
            margin-bottom: -3px;
        }
    }
}