// banner
.banner {
    // background-image: url(../img/banner-bg.png);
    &-content {
        & h1 {
            span {
                background: var(--GRADIENT, linear-gradient(291deg, #0FF 7.92%, #0152FF 85.67%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    & .common-shape {
        --width: 432px;
        --position: -100px;
    }
    &-inner {
        box-shadow: 0px 0px 12px 0px #1B1B1E inset;
        & .progress {
            &>.flex {
                &>.flex {
                    position: absolute;
                    top: 50%;
                    left: var(--position);
                    transform: translateY(-50%);
                    color: $white;
                    z-index: 2;
                    margin-left: -35px;
                }
            }
            &-bar {
                background: linear-gradient(90deg, #01BEFF 0%, #017299 100%);
            }
        }
        & .rate {
            background: linear-gradient(298deg, #0FF 1.19%, #0152FF 120.86%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & .custom-select {
            & button {
                @apply bg-[#18181A];
                & label {
                    @apply text-white font-medium text-lg leading-tight opacity-70;
                }
                & span {
                    @apply text-white font-medium text-sm leading-tight;
                }
            }
        }
    }
}

[data-slot="content"] {
    @apply bg-[#18181A];
}

// about
.about {
    & .common-shape {
        &:not(.sm) {
            --width: 364px;
            --position: -150px;
        }
        &.sm {
            --width: 316px;
            --position: -100px;
        }
    }
}

// features
.feature {
    & .common-title {
        & h2 {
            line-height: 145% !important;
        }
        & p {
            margin-top: 10px;
        }
    }
    &-item {
        padding: 1px;
        border-radius: 20px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            background: linear-gradient(131deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
            opacity: .1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        & .icon {
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgb(0, 220, 207);
                background: linear-gradient(131deg, rgba(0, 220, 207, 1) 0%, rgba(56, 112, 255, 1) 68%, rgba(175, 193, 255, 1) 100%);
                opacity: .2;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}

// roadmap
.roadmap {
    &-item {
        & .title span {
            background: linear-gradient(93deg, rgba(255, 255, 255, 0.90) 47.64%, rgba(255, 255, 255, 0.00) 131.7%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.swiper {
    overflow: visible;
    &-slide {
        display: flex;
        height: auto;
    }
}

// sp
.sp {
    & .common-shape {
        --width: 364px;
        --position: -150px;
    }
    &-wrap {
        padding: 1px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            background: linear-gradient(131deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
            opacity: .1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

// faq
.faq {
    & .common-title {
        & h2 {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) 34.91%, rgba(255, 255, 255, 0.21) 148.11%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-item {
        & button {
            @apply p-0;
            & span:not([aria-hidden="true"]) {
                @apply text-[#FAFAFA] text-opacity-70 text-[22px] leading-[165%];
            }
        }
    }
}