div#react-aria3033892811-\:r3\: {
    background: #080B13 !important;
}
div#react-aria4650491857-\:r3\: {
    background: #080B13;
}

div#react-aria6873962545-\:r3\: {
    background: #080B13;
}
button#react-aria4233309302-\:r3\:-tab-Top {
    padding: 7px 63px;
}
button#react-aria4233309302-\:r3\:-tab-Latest {
    padding: 7px 63px;
}
.bg-default-100 {
    --tw-bg-opacity: 1;
    background-color: #080B13;

}
span.absolute.z-0.inset-0.rounded-small.bg-background.dark\:bg-default.shadow-small {
    background: #121722;
    color: white !important;
}
.news button{
  height: 40px;
}
.card-card{
    border: none !important;
    background-color:#03060D;
}
.card-des{
    border: none !important;
}

// button{
//     data-selected=[ture]{
//         color: white!imposten
//         ;
        
//     }
// }


.news button[aria-selected="true"] div{
    color: #fff !important;
    width: 40px;
}

// data-focus="false"
.news div[ data-focus="false"]{
    padding: 0px;
  
}

.news{
   .card-card {
   @include md{
    .title{
      font-size: 20px;
    }
    .des{
      font-size: 20px;
      margin-top: 10px;
    }
   }
   }
}
 @include ssm{
    .news .inline-flex{
        display: block !important;
    }
 }
 @include sm{
    .cards{
        padding: 22px;
    }
 }
 @include sm{
    .cards{
        padding: 22px;
    }
 }
 @include lg{
    .cardbody{
        gap: 20px !important;
    }
 }
 @include xl{
    .cardbody{
        gap: 15px !important;
    }
 }
 @include lg{
    .cards{
        padding: 10px;
      .title{
        font-size: 13px;
      }
      p{
        font-size: 13px;
      }
    }
 }
 @include xl{
    .cards{
        padding: 5px;
      .title{
        font-size: 14px;
      }
      p{
        font-size: 14px;
      }
    }
 }
 @include xxl{
    .cards{
        padding: 5px;
      .title{
        font-size: 14px;
      }
      p{
        font-size: 14px;
      }
    }
 }