div#react-aria3033892811-\:r3\: {
    background: #080B13 !important;
}
div#react-aria4650491857-\:r3\: {
    background: #080B13;
}

div#react-aria6873962545-\:r3\: {
    background: #080B13;
}
button#react-aria4233309302-\:r3\:-tab-Top {
    padding: 7px 63px;
}
button#react-aria4233309302-\:r3\:-tab-Latest {
    padding: 7px 63px;
}
.bg-default-100 {
    --tw-bg-opacity: 1;
    background-color: #080B13;

}
span.absolute.z-0.inset-0.rounded-small.bg-background.dark\:bg-default.shadow-small {
    background: #121722;
    color: white !important;
}