.roadmap {
    &-item {
        & .title span {
            background: linear-gradient(93deg, rgba(255, 255, 255, 0.90) 47.64%, rgba(255, 255, 255, 0.00) 131.7%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.swiper {
    overflow: visible;
    &-slide {
        display: flex;
        height: auto;
    }
}