@import url('https://fonts.cdnfonts.com/css/general-sans');
$font-1:'General Sans',
sans-serif;
$white:#fff;
$black:#000;
$primary: #7B10AC;
$secondary: #050505;
$text:#C0C3C5;
$heading: $white;
$bg:#060706;
:root {
    scroll-behavior: auto !important;
}